@using DOMAIN.Enum
@using DOMAIN.Model

@model ProdutoModel
@{
	ViewData["Title"] = "Cadastro de produtos";
}

@if (TempData["Sucesso"] != null)
{
	<p class="alert alert-success">@TempData["Sucesso"]</p>
}
@if (TempData["Erro"] != null)
{
	<p class="alert alert-danger">@TempData["Erro"]</p>
}

<form asp-controller="Produto" asp-action="CadastrarProduto" method="post">
	<div class="Produtos">
		<div class="col">
			<label asp-for="NomeProduto">Nome Produto</label>
			<input asp-for="NomeProduto" type="text" class="form-control" placeholder="Nome do produto">
		</div>
		<div class="col">
			<label asp-for="ValorProduto">Valor do Produto</label>
			<input asp-for="ValorProduto" type="number" class="form-control" placeholder="Valor do produto" step="0.01">
		</div>
		<div class="col">
			<label asp-for="Disponibilidade">Disponibilidade</label>

			<select asp-for="Disponibilidade" class="form-control">
				@foreach (DisponibilidadeEnum disponibilidade in Enum.GetValues(typeof(DisponibilidadeEnum)))
				{
					<option value="@disponibilidade">@disponibilidade</option>
				}
			</select>
		</div>
		<div id="Botoes">

			<button type="submit" class="btn btn-primary">Cadastrar</button>

			<a class="btn btn-success" asp-controller="Produto" asp-action="ListarProdutos" method="get">Voltar</a>
		</div>

	</div>
</form>
